%h1 MyNew.TV is new, and requires a new browser.

%p
  We recommend these browsers for a great experience!
%ul
  %li
    = link_to 'Google Chrome', 'http://www.google.com/chrome/'
  %li
    = link_to 'Mozilla Firefox', 'http://www.mozilla.com/en-US/firefox/firefox.html'
  %li
    = link_to 'Apple Safari', 'http://www.apple.com/safari/download/'