html {
  background: #444 url('/images/layout/stripe.gif') repeat fixed top left; }

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5em; }

h1 {
  font-size: 1.5em;
  line-height: 2; }

h2 {
  font-size: 1.125em; }

p {
  margin-bottom: 1em; }

strong {
  font-weight: bold; }

table {
  border-collapse: separate; }
  table td {
    border: 1px solid #999; }

#header, #content {
  width: 960px;
  margin: 0 auto; }

#header {
  background: #222 url('/images/layout/header_gradient.gif') repeat-x top left;
  background-color: #222;
  margin-bottom: 0; }
  #header img {
    vertical-align: middle; }
  #header span.user_info {
    float: right;
    margin-top: 2em; }

#content {
  background-color: white;
  width: 920px;
  padding: 20px 20px 40px 20px; }
