<span class="title">Welcome to MyNew.Tv</span>
  <p>MyNew.TV is entertainment like you've never seen before. Completely personalized to your tastes, MyNew.TV learns from your every zap and vote, giving you a never-ending stream of video tailored to your tastes. 
  <p>You'll discover stuff out there you won't believe you hadn't seen yet, and keep coming back for more.</p>
  <h4>Sign Up and get an endless playlist of videos tailored to you</h4>
