%h1 Your account is pending!
%h2 At the moment we're approving all signups by hand. You'll get an email when you've been approved!
%h2 Thanks for your patience!
%h2 &nbsp;
%h2 &mdash;The MyNew.TV Team


