<div style="text-align:center; display:block; margin-top: 20px;">
  <%= link_to_function "Close", :class => "awesome blue", :onclick => "window.close();" %>
</div>

<script type="text/javascript">
//  setTimeout("window.close()", 3000);
</script>
