%div
  .float_left
    %img{:width => "50", :height => "50", :src => "http://www.mundosvirtuales.org/amigos/youtube.gif"}
    
  .float_middle
    %p.title= @video.title
    %p.author= @video.author
        
