= link_to_function image_tag("player/btn_play.png", :alt => "Play/Pause", :id => "play_or_pause", :height => "40", :width => "40"), :onclick => 'Mynewtv.playOrPause();return false;', :class => 'buttons_awesome', :title => "Press Space to Play/Pause"

= link_to_function image_tag("player/btn_mute_light.png", :id => "btn_mute_unmute", :height => "40", :width => "40", :title => "Mute"), :onclick => 'Mynewtv.toggleSound();return false;', :class => 'buttons_awesome'

/
  = link_to_function image_tag("player/btn_fullscreen.png", :height => "40", :width => "40"), :onclick => 'Mynewtv.fullscreenVideo();return false;', :class => 'buttons_awesome'
 
